body{
    background-color:gray;
}
*{
    box-sizing:border-box;
}
.inputsForInvite{
    border:none;
    height:50px;
    width:400px;
}
.sendButton{
    font-size:16px;
    background-color:rgb(66, 66, 66);
    color:white;
    height:50px;
    width:400px;
    border-radius:4px;
    border:0px;
    opacity:0.6
}
.sendButton:hover{
    cursor:pointer;
    background-color:black;
}